.App {
  /* position: relative; */
  /* top: 20px;
  left: 226px; */
  padding-left: 10px;
  width: 1512px;
  height: 1025px;
  background: linear-gradient(108.18deg, #201606 2.46%, #000000 99.84%);
  border-radius: 8px;
  /* box-sizing: border-box; */
}
