.SideBarComp{
    position: relative;
    width: 440px;
    height: 924px;
    left: 118px;
    bottom: 310px;
}

.TitleForYou{
    position: absolute;
    width: 235px;
    height: 36px;
    left: 298px;
    top: 40px;

    font-family: Basier Circle;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
    /* identical to box height, or 112% */
    color: #FFFFFF;
}

.SearchDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;

    position: absolute;
    width: 400px;
    height: 48px;
    left: 298px;
    top: 100px;

    background: rgba(255, 255, 255, 0.08);
    border-radius: 8px;
    border: 0px;
    margin-top: 50px;
}

.Title{
    position: static;
    width: 163px;
    height: 28px;
    left: 16px;
    top: 10px;
    border: 0px;

    font-family: Basier Circle;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */


    color: #FFFFFF;

    opacity: 0.6;
    background: rgba(255, 255, 255, 0.08);

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 235px;
}

.Frame{
    position: relative;
    width: 32px;
    height: 32px;
    left: 432px;
    top: 162px;

    opacity: 0.4;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 235px;
}

.FrameVector{
    position: absolute;
    left: 19.79%;
    right: 19.79%;
    top: 19.79%;
    bottom: 19.79%;

    border: 2px solid #FFFFFF;
}

.PlayList{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 500px;
    overflow-y: scroll;
    height: 792px;
    left: 278px;
    top: 242px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}